<%= form_with(model: @owatter, local: true, url: choose_new_or_edit) do |form| %>
  <% if @owatter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @owatter.errors.count %>件のエラーがあります。
      <br>
      ※140文字以上の入力、又は空文字の送信はできません
      </h2>
      <ul>
      <% @owatter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="owatter_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
<%= form.submit "Update", class: "btn btn-danger" %>
<% end %>

<%= link_to "Back", owatters_path, class: "btn btn-danger" %>
