<h3>Confirmation</h3>

<%= form_with(model: @owatter, url: owatters_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>Title:<%= @owatter.title %></p>
  <p>Content:<%= @owatter.content %></p>

  <%= form.submit  "Register", class: "btn btn-danger" %>
<% end %>

<%= form_with(model: @owatter, url: new_owatter_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "Reset", name: 'back', class: "btn btn-danger" %>
<% end %>
