<div class="container">
  <h1>Index</h1>
  <p><%= notice %></p>
  <div class="table-responsive">
    <table>
      <tr>
        <th>[content]</th>
      </tr>
      <% @owatter.each do |owatter| %>
      <tr>
        <td><%= owatter.content %></td>
        <td><%= link_to 'Detail', owatter_path(owatter.id)  %></td>
        <td><%= link_to 'Edit', edit_owatter_path(owatter.id),data: { confirm: 'Can I really edit it?' } %></td>
        <td><%= link_to 'Delete', owatter_path(owatter.id), method: :delete, data: { confirm: 'Can I really delete it?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <br>
  <%= link_to 'Shout new!!', new_owatter_path, class: "btn btn-danger" %>
</div>
<!-- http://localhost:3000/ -->
