<div class="container">
  <h1>Index</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="row_A">
        <div class="table-responsive">
          <table class="tables">
            <% if logged_in? %>
              <tr>
                <th>[title]</th>
                <th>[content]</th>
                <th>[shouter]</th>
              </tr>
              <% @owatter.each do |owatter| %>
              <tr>
                <td><%= owatter.title %></td>
                <td><%= owatter.content %></td>
                <td><%= owatter.user.name %></td>
                <td><%= link_to 'Detail', owatter_path(owatter.id)  %></td>
                <% if owatter.user_id == current_user.id %>
                <td><%= link_to 'Edit', edit_owatter_path(owatter.id),data: { confirm: 'Can I really edit it?' } %></td>
                <td><%= link_to 'Delete', owatter_path(owatter.id), method: :delete, data: { confirm: 'Can I really delete it?' } %></td>
                <% end %>
              </tr>
              <% end %>
            <% else %>
              <tr>
                <th>[title]</th>
                <th>[content]</th>
              </tr>
              <% @owatter.each do |owatter| %>
              <tr>
                <td><%= owatter.title %></td>
                <td><%= owatter.content %></td>
              </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row_B">
        <div class="contents">
          <ul class="content">
            <li class="col-md-12">Hello</li>
            <li class="col-md-12">Hello</li>
            <li class="col-md-12">Hello</li>
            <li class="col-md-12">Hello</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <%= link_to 'Shout new!!', new_owatter_path, class: "btn btn-danger" %>
  <% else %>
    <%= link_to 'Shout new!!', new_user_path, class: "btn btn-danger" %>
  <% end %>
</div>
<br>
<!-- http://localhost:3000/ -->
