<%= form_with(model: @contact, local: true, url: choose_new_or_edit) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>件のエラーがあります。
      <br>
      ※140文字以上の入力、又は空文字の送信はできません
      </h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="contact_title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="contact_title">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="contact_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", contacts_path %>